body{
	margin: 0;
	padding: 0;
	text-align: center;
}
header {
  h1 {
    font-size:26px; margin-bottom:26px;
  }
}
.main {
  @include background-image(linear-gradient(lighten($color1, 30%), lighten($color2, 30%)));
  @include border-radius($border-radius * 3.5); 
  border:3px solid $color2;
  padding:$border-radius;
  margin-bottom:25px; 
  ul {
    padding-top:14px;
  }
  li {
    color:$fontcolor1;
    margin-bottom:12px;
    list-style: none;
    border-bottom: 1px solid $light-black;
    &:last-child{
    	border-bottom: 0px;
    }
  }
}
.box {
  width: 200px;
  height: 300px;
  background: $blue + $red;
  margin: 0 auto;
  @include transition(0.5s);
  @include border-radius(5px);
  &:hover{
  	transform: rotate(450deg);
  	}
}

.wrapper{
	@extend .box;
	background: $yellow;
}
.flexbox{
	@include flex;
}
