$red: #FF0000;
$light-green: #00FF00;
$blue: #0000FF;
$yellow: #FFFF00;
$brown: #B56913;
$white: #FFFFFF;
$gray: #D3D3D3;
$black:#000000;
$light-black: #4B4B4B;
$color1: #63bdd7;
$color2: #9c4228;
$fontcolor1: #333;
$fontcolor2: #9c4228;
$nav-back: #5CDB94;
$nav-txt: #05396B;
$section: #7395AE;
$section-txt: #B0A295;
$box1: #64495C;
$box2: #83687B;

$border-radius: 7px; 