$red: #FF0000;
$white: #FFFFFF;
$gray: #808080;
$pink: #FFCBDB;
$brown: #964B00;
$black: #000000;
$violet: #7F00FF;
$duke-blue: #001A57;
$blue-gray: #6699CC;
$alice-blue: #F0F8FF;
$ash-gray: #B2BEB5;
$cyan: #00FFFF;
$blue: #4267B2;
$cyan: #00FFFF;

$default-text-color:$black !default;
